*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    header{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        padding: 0 50px;
        justify-content: space-between;
        padding-top: 22px;
        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 23px;
            font-weight: 600;
        }
        .logo_img{
            width: 32px;
        }
        .header_leftBtnsContainer{
            width: 324px;
            display: flex;
            justify-content: space-between;
        }
        .header_menuBtn{
            width: 114px;
            height: 56px;
            background-color: #E7E9EB;
            border-radius: 60px;
            color: #11293B;
            font-size: 18px;
            font-weight: 400;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .menuBtn_img{
            width: 18px;
            margin-right: 12px;
        }
        .header_searchBtn{
            width: 200px;
            height: 56px;
            background-color: #E7E9EB;
            border-radius: 60px;
            color: #11293B;
            font-size: 18px;
            font-weight: 400;
            border: none;
            display: flex;
            align-items: center;
            justify-content: start;
            padding-left: 18px;
        }
        .searchBtn_img{
            width: 17px;
            margin-right: 10px;
        }
        .header_iconsCon{
            width: 146px;
            display: flex;
            justify-content: center;
            margin-right: -280px;

        }
        .header_Icon{
            width: 18px;
            height: 18px;
            cursor: pointer;
        }
        #heart{
            margin: 0 29px;
        }
        .header_icons_cardCount{
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            border-radius: 50%;
            background-color: #F67280;
            box-shadow: rgba(151, 29, 42, 0.251) 0 10px 15px;
        }
        .header_SelectesCon{
            width: 147px;
            display: flex;
            justify-content: space-between;
        }
        select{
            width: 69px;
            height: 30px;
            background-color: #E7E9EB;
            border-radius: 60px;
            color: #11293B;
            padding: 0 10px;
            border: none;
            display: flex;
            justify-content: center;
        }
        option{
            width: 69px;
            height: 30px;
            color: #11293B;
            font-size: 12px;
            font-weight: 400;

        }
    }
    .productContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 100px;
    }
    .productItem{
        padding: 20px;
        // border: 0.5px solid #999;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 245px;
        .productItem_imgBg{
            width: 245px;
            height: 282px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #7BE498;
            border-radius: 20px;
        }
        .sneakersImg{
            width: 322px;
        }
        h3{
            font-size: 18px;
            font-weight: 700;
        }
        .productItem_infoContainer{
            // display: flex;
            // flex-direction: column;
            // align-items: flex-start;
            // width: 100%;
            margin-top: 20px;
        }
        p{
            color: #FD4E61;
            font-size: 19px;
            font-weight: 400;
        }
        .previousPrice{
            color: #11293B;
            font-size: 19px;
            font-weight: 400; 
        }
        .productItem_prices{
            width: 100px;
            display: flex;
            justify-content: space-between;
        }
        .addItem{
            width: 245px;
            height: 60px;
            background-color: #E7E9EB;
            border-radius: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #11293B;
            border: none;
            font-size: 20px;
            font-weight: 400;
        }
        .sneakersBtnIcon{
            width: 19px;
            margin-right: 12px;
        }
    }
}
.cartPopup{
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 0.5px solid #999;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}
button{
    cursor: pointer;
}