*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.wrap{
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.usersContainer{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}
.userCard{
    width: 330px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    border: 3px solid #333;
    border-radius: 20px;
    padding: 20px;
    margin: 25px 25px 0 0;
    flex-direction: column;
    color: #333;
}
i{
    font-size: 24px;
    margin-right: 10px;
}
a{
    color: #333;
}
.postCard{
    width: 80%;
    height: 150px;
    display: none;
    border: 3px solid #333;
    border-radius: 20px;
    padding: 20px;
    margin: 25px 25px 0 0;
    color: #333;
    flex-direction: column;
    h3{
        margin-bottom: 20px;
    }
}

.postForm{
    display: flex;
    flex-direction: column;
}
input{
    width: 370px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #333;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}
button{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 100px;
}
.messagePopup{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    display: none;
    flex-direction: column;
    color: #333;
    border: 3px solid #333;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;

}
#okeyBtn{
    width: 210px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
    padding: 10px 0 10px 0;
}
#okeyBtn:hover{
    background-color: #fff;
    color: #333;
    border: 3px solid #333;
}
.postPagesBtns{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    button{
        width: 250px;
        margin-right: 30px;
    }
}